/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
$primary_1: #a2b9bc;
$primary_2: #b2ad7f;
$primary_3: #878f99;

.main-header {
  background-color: $primary_1;
}
.manu-left {
  background-color: $primary_2;
}

/* Insta on offficial site  sass-lang.com/install */
