.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 30px; /*Make a width*/
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container {
  display: grid; /*Make a height*/
  grid-template-rows: 80px 200px;
}

/* Center elements inside the container  */

.grid-container {
  display: grid;
  justify-content: space-evenly;
}

/* We use it and it stay like in flex start/end/space-between ect */
.grid-container {
  display: grid;
  justify-content: space-evenly;
}
/* 
  Same with align content just do it horizontally */
.grid-container {
  height: 400px;
  align-content: center;
  display: grid;
}
